<configuration>
	<!-- https://logback.qos.ch/manual/appenders.html -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>src/main/resources/logback.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>logback.%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>
	      <maxHistory>2</maxHistory>
	      <totalSizeCap>3GB</totalSizeCap>
	    </rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.jaty.log.LogUtil" level="trace">
		<appender-ref ref="FILE"/>
	</logger>
	<root level="info">		
	</root>
</configuration>